body {
    background-color: rgb(238, 224, 252);
    color: rgb(53, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
footer {
    background-color: rgb(238, 180, 245);
    color:indigo;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 10px;
    margin: 0px;
    text-align: right;
    font-style: italic;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
header {
    background-color: rgb(238, 180, 245);
    color:indigo;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 0px;   
}
main {
    margin: 10px 20px 34px;
}
a {
    color:black;
    text-decoration: none;
    transition: 1sы;
}
a:link{
    color: rgb(85, 36, 106);
}
a:visited{
    color: rgb(101, 65, 135);
}
a:hover {
    color: rgb(126, 38, 38);
    text-decoration: underline;
    transition: 0,3s;
    font-weight: bold;
}
a:active {
    color: black;
    opacity: 0,3;
}
div.menu {
    border: 5px solid #ab8de9;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #e8cefb;
    box-shadow: 5px 10px 15px #a854e8;
}